{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	{% block title %}{% endblock %}
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- bootstrap Libraries -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	
	<!-- scripts -->
	<script src="{% static 'blog/jquery.js' %}" type="text/javascript"></script>
	
	<!-- stylesheets -->
	<link rel="stylesheet" type="text/css" href="{% static 'blog/blog_style.css' %}" />
	
</head>
<body>
	
	{% block modals %}{% endblock %}
	
	<div class="container-fluid">
		{% block content %}{% endblock %}
	</div>
	
	<footer class="footer">
		<p><a href="#"></a></p>
	</footer>

	{% block javascript %}{% endblock %}
	
</body>
</html>